h2 {
	margin-top:4px;
	margin-bottom:18px;
	font-size:20px;
	margin-left: 6px;
}
	
	.nogo, ul.programsort li a.live.nogo, ul.programsort li a.club.nogo, ul.programsort li a.alter.nogo, ul.programsort li a.theatre.nogo {
		background:#44423f;
		color:#aaa9a9;
	}
	
	ul.programsort li a.ui-btn-active {
		border:1px solid #ccc;
		border-right-width:0px;
	}
	
	.matheltspacer {
		width:100%;
		height:30px;
	}
	
	.programsortspacer {
		width:100%;
		height:8px;
	}
	
	#scroller img {
		margin:0;
	}
	
#wrapper {
	position:absolute; z-index:1;
	top:90px; bottom:57px; left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	width:784px;
	height:1104px;
	float:left;
	padding:0;
}

.ui-page {
	overflow:auto;
}